[Desktop Entry]
Type=Application
Name=<%= appNameSlug %>
Comment=<%= appName %>
GenericName=<%= appNameSlug %>
Exec=<%= appNameSlug %> %U
Icon=<%= appNameSlug %>
Terminal=false
Categories=development
